@import "variables.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    background-color: var(--bg-light);
 
    
}

body {
    color: var(--primary-dark);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1.1px;
    line-height: 1.5em;
}

.container {
    padding: 0 1.5em;
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.current-char,
.error-char {
    color: var(--primary-light);
}

.current-char {
    background-color: var(--right-color);
}

.error-char {
    background-color: var(--error-color);
}

.right-char {
    color: var(--right-color);
}

.error-text {
    color: var(--error-color);
    text-align: center;
    font-size: 2rem;
    line-height: 1.25em;
    text-transform: uppercase;
}