:root {
    --bg-light: #f0fffb;
    --white-light: #cccdd9;
    --primary-light: #8188c4;
    --primary-dark: #16425b;
    --right-color: #47fdab;
    --error-color: #f00a12;
    --time-color:#59f710;

    --primary-shadow: rgba(0, 0, 0, 0.5)
}